In [1]:
import pandas as pd
import numpy as np
import os

# Problem 1

In [2]:
df_emp = pd.read_csv('./data/emp.csv')
df_emp.head()

   emp id emp name    ZIP  Salary
0       1  dldalka  10025   14000
1       2  dslbgdl  10029   16000
2       3   sdlbgl  10044   10000
3       4   dsjgge  10009    6000
4       5    dkgds  10005   17000

In [3]:
df_zip_tax = pd.read_csv('./data/zip_tax.csv')
df_zip_tax.head()

     ZIP  Tax rate
0  10001        18
1  10002         7
2  10003         0
3  10004        20
4  10005        11

In [4]:
df = df_emp.merge(df_zip_tax, on='ZIP')
df.head()

   emp id emp name    ZIP  Salary  Tax rate
0       1  dldalka  10025   14000         9
1       2  dslbgdl  10029   16000        15
2       3   sdlbgl  10044   10000         2
3       4   dsjgge  10009    6000        19
4       5    dkgds  10005   17000        11

In [5]:
df['taxed_salary'] = df['Salary'] * ((100 - df['Tax rate']) / 100)

In [6]:
print(f"Mean of taxed salary among all employers: {df['taxed_salary'].mean()}")

Mean of taxed salary among all employers: 10213.0

In [7]:
print(f"Median of taxed salary among all employers: {df['taxed_salary'].median()}")

Median of taxed salary among all employers: 10175.0

# Problem 2

In [8]:
df_students = pd.read_csv('./data/student.csv')
df_students.head()

   student id  Marks
0        1001     47
1        1002     37
2        1003     90
3        1004     20
4        1005     31

In [9]:
def grade_student(mark):
    if mark > 90:
        return 'A'
    elif mark > 80:
        return 'B'
    elif mark > 70:
        return 'C'
    elif mark > 60:
        return 'D'
    elif mark > 50:
        return 'E'
    else:
        return 'F'
    
    
df_students['grade'] = df_students['Marks'].apply(grade_student)

In [10]:
df_students.head()

   student id  Marks grade
0        1001     47     F
1        1002     37     F
2        1003     90     B
3        1004     20     F
4        1005     31     F

In [11]:
print(f"Mean {df_students['Marks'].mean()}")

Mean 60.07

In [12]:
from scipy.stats.mstats import winsorize

In [13]:
print(f"Winsorize mean {winsorize(df_students['Marks'], limits=[0.10, 0.10]).mean()}")

Winsorize mean 60.29

In [14]:
print(f"Median {df_students['Marks'].median()}")

Median 63.0

# Problem 3

In [15]:
arr = [79, 2, 150, 19, 15]

In [16]:
def bubble_sort(lst):
    n = len(lst)
    checker = False
    
    for i in range(n - 1):
        
        for j in range(0, n - i - 1):
            if lst[j] > lst[j + 1]:
                swapped = True
                lst[j], lst[j + 1] = lst[j + 1], lst[j]
         
        if not checker:
            return lst

In [17]:
bubble_sort(arr)

[2, 79, 19, 15, 150]

**or just:**

In [18]:
sorted(arr)

[2, 15, 19, 79, 150]